.cache/
.coverage
.eggs/
*__pycache__/
tests/checkpoint_test/
tests/fun3d/
tests/lorenz_lyapunov/
tests/pascal_lite/
tests/pascal_lite/
tests/pascal_lite/
tests/pascal_lite/
tests/pascal_lite/
tests/pascal_lite/
tests/solvers/*/*.dat*
tests/solvers/*/*.o
tests/solvers/*/*.output
tests/solvers/*/*.exe
tests/solvers/*/*.txt
tests/solvers/*/*.mod
tests/solvers/*/finite-diff
tests/solvers/*/solver
tests/solvers/*/u0
tests/solvers/*/adjoint
tests/solvers/*/fd-tan
tests/solvers/*/tan-adj
tests/test_autonomous_system/openfoam4/
tools/openfoam4/pisoFoam/Make/linux64GccDPInt32Opt/
tools/openfoam4/pisoFoam/pisoFoam
