############# restart file ############

RESTART = ./initial.les

########## solver options ##########

CFL = 1.0
#DT_INIT = 1.0e-12
#DT = 2.50e-8
NSTEPS = ${NSTEPS}
#RUNTIME = 23.9
#WRITE_RESULT = 2000
CHECK_INTERVAL = 1
#RESET_RHO

BODY_FORCE = 0.0 0.0 0.0

###########Initialization############

# default momentum solver is BCGSTAB.
MOMENTUM_SOLVER = BCGSTAB TOL=1.0E-5
SCALAR_SOLVER = BCGSTAB TOL=1.0E-4
PRESSURE_SOLVER = HYPRE_AMG TOL=1.0E-5 ST=0.5 MAXLEVEL=25

########## eos stuff ##########

EQUATION_OF_STATE = CONSTANT_RHO
RHO = 1.205
MU = 1.820755e-5

########## SGS stuff ##########

#SGS_MODEL = WALE

#----------------------------------------------
########## boundary conditions ##########
#----------------------------------------------

# Default = WALL
BC_DEFAULTS = 1

out_wall.U = SLIP
bullet_wall.U = WALL
bullet_nose.U = WALL
bullet_base.U = WALL

# In/Out Gas
inlet.U = INJECT 0.0 0.0 0.053826972

outlet.U = OUTLET

########## i/o stuff ##########
#RESET_STATS = 1
#STATS = U P

WRITE_RESULT = 500

WRITE_DATA FORMAT TECPLOT NAME ./SOLUT/all INTERVAL 1 GEOM=ALL VARS U P

WRITE_DATA FORMAT TECPLOT NAME ./CUTS/ycut0 INTERVAL 200 GEOM=PLANE 0.0 0.0 0.0 0.0 1.0 0.0 VARS U P 
WRITE_DATA FORMAT TECPLOT NAME ./CUTS/xcut0 INTERVAL 200 GEOM=PLANE 0.0 0.0 0.0 1.0 0.0 0.0 VARS U P 

WRITE_DATA FORMAT TECPLOT NAME ./ZONES/bullet_surfs INTERVAL 1000 GEOM=FAZONE bullet_nose bullet_wall bullet_base VARS U P YPLUS TAU_WALL

WRITE_DATA FORMAT TECPLOT NAME ./ISOS/VortZ_pos INTERVAL 100 GEOM=ISO VORTZ  0.049  0.051 VARS U P VORT 
WRITE_DATA FORMAT TECPLOT NAME ./ISOS/VortZ_neg INTERVAL 100 GEOM=ISO VORTZ -0.051 -0.049 VARS U P VORT
#WRITE_DATA FORMAT TECPLOT NAME ./STATS/Stat_xcut0 INTERVAL 500 GEOM=PLANE 0.0 0.0 0.0 1.0 0.0 0.0 VARS U_AVG P_AVG U_RMS
#WRITE_DATA FORMAT TECPLOT NAME ./STATS/Stats INTERVAL 500 GEOM=ALL VARS U_AVG U_RMS P_AVG

########## Wake Postproc ##########
BASEBARYCENTER = TRUE
WAKEBARYCENTER.P = 1.12594 1.2242 1.32244 1.42069

########## Probes ##########
PROBE NAME ./PROBES/P_0_1 INTERVAL 1 GEOM POINT 0.0 -0.09825  1.12594 VARS=U P 
PROBE NAME ./PROBES/P_0_2 INTERVAL 1 GEOM POINT 0.0 -0.09825  1.17507 VARS=U P 
PROBE NAME ./PROBES/P_0_3 INTERVAL 1 GEOM POINT 0.0 -0.09825  1.2242  VARS=U P 
PROBE NAME ./PROBES/P_0_4 INTERVAL 1 GEOM POINT 0.0 -0.09825  1.27332 VARS=U P 
PROBE NAME ./PROBES/P_0_5 INTERVAL 1 GEOM POINT 0.0 -0.09825  1.32244 VARS=U P 
PROBE NAME ./PROBES/P_0_6 INTERVAL 1 GEOM POINT 0.0 -0.09825  1.37157 VARS=U P 
PROBE NAME ./PROBES/P_0_7 INTERVAL 1 GEOM POINT 0.0 -0.09825  1.42069 VARS=U P 
PROBE NAME ./PROBES/P_1_1 INTERVAL 1 GEOM POINT 0.0 -0.049125 1.12594 VARS=U P 
PROBE NAME ./PROBES/P_1_2 INTERVAL 1 GEOM POINT 0.0 -0.049125 1.17507 VARS=U P 
PROBE NAME ./PROBES/P_1_3 INTERVAL 1 GEOM POINT 0.0 -0.049125 1.2242  VARS=U P 
PROBE NAME ./PROBES/P_1_4 INTERVAL 1 GEOM POINT 0.0 -0.049125 1.27332 VARS=U P 
PROBE NAME ./PROBES/P_1_5 INTERVAL 1 GEOM POINT 0.0 -0.049125 1.32244 VARS=U P 
PROBE NAME ./PROBES/P_1_6 INTERVAL 1 GEOM POINT 0.0 -0.049125 1.37157 VARS=U P 
PROBE NAME ./PROBES/P_1_7 INTERVAL 1 GEOM POINT 0.0 -0.049125 1.42069 VARS=U P 
PROBE NAME ./PROBES/P_2_1 INTERVAL 1 GEOM POINT 0.0 0.0       1.12594 VARS=U P 
PROBE NAME ./PROBES/P_2_2 INTERVAL 1 GEOM POINT 0.0 0.0       1.17507 VARS=U P 
PROBE NAME ./PROBES/P_2_3 INTERVAL 1 GEOM POINT 0.0 0.0       1.2242  VARS=U P 
PROBE NAME ./PROBES/P_2_4 INTERVAL 1 GEOM POINT 0.0 0.0       1.27332 VARS=U P 
PROBE NAME ./PROBES/P_2_5 INTERVAL 1 GEOM POINT 0.0 0.0       1.32244 VARS=U P 
PROBE NAME ./PROBES/P_2_6 INTERVAL 1 GEOM POINT 0.0 0.0       1.37157 VARS=U P 
PROBE NAME ./PROBES/P_2_7 INTERVAL 1 GEOM POINT 0.0 0.0       1.42069 VARS=U P 
PROBE NAME ./PROBES/P_3_1 INTERVAL 1 GEOM POINT 0.0 0.049125  1.12594 VARS=U P 
PROBE NAME ./PROBES/P_3_2 INTERVAL 1 GEOM POINT 0.0 0.049125  1.17507 VARS=U P 
PROBE NAME ./PROBES/P_3_3 INTERVAL 1 GEOM POINT 0.0 0.049125  1.2242  VARS=U P 
PROBE NAME ./PROBES/P_3_4 INTERVAL 1 GEOM POINT 0.0 0.049125  1.27332 VARS=U P 
PROBE NAME ./PROBES/P_3_5 INTERVAL 1 GEOM POINT 0.0 0.049125  1.32244 VARS=U P 
PROBE NAME ./PROBES/P_3_6 INTERVAL 1 GEOM POINT 0.0 0.049125  1.37157 VARS=U P 
PROBE NAME ./PROBES/P_3_7 INTERVAL 1 GEOM POINT 0.0 0.049125  1.42069 VARS=U P 
PROBE NAME ./PROBES/P_4_1 INTERVAL 1 GEOM POINT 0.0 0.09825   1.12594 VARS=U P 
PROBE NAME ./PROBES/P_4_2 INTERVAL 1 GEOM POINT 0.0 0.09825   1.17507 VARS=U P 
PROBE NAME ./PROBES/P_4_3 INTERVAL 1 GEOM POINT 0.0 0.09825   1.2242  VARS=U P 
PROBE NAME ./PROBES/P_4_4 INTERVAL 1 GEOM POINT 0.0 0.09825   1.27332 VARS=U P 
PROBE NAME ./PROBES/P_4_5 INTERVAL 1 GEOM POINT 0.0 0.09825   1.32244 VARS=U P 
PROBE NAME ./PROBES/P_4_6 INTERVAL 1 GEOM POINT 0.0 0.09825   1.37157 VARS=U P 
PROBE NAME ./PROBES/P_4_7 INTERVAL 1 GEOM POINT 0.0 0.09825   1.42069 VARS=U P 
